.announcement-container {
   width:100%;
   height:40vh;
   float:left;
   overflow-y:overlay;
   border-radius:5px;
   border: 1px solid #eee;
   background-color: rgba(197, 217, 255, 0.1);;
}
.announcement-header {
	background-color: rgba(197, 217, 255, 0.81);;
	font-size:16px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding:5px;
}
.announcement-body {
	margin:5px;
	border-radius:5px;
	text-align:center;
}
.announcement-file {
	margin:5px;
	background-image:linear-gradient(to bottom,#337ab7 0,#172e82 100%);
}
.announcement-item {
	background-color: rgba(177, 177, 177, 0.21);
	box-shadow: 3px 2px 6px 1px black;
	display:grid;
	border-radius:5px;
	margin:15px;
}
.dashboard-image {
	max-height: 20vh;

	margin-bottom: 10px;
}
.dashboard-header {
	color: #172e82;
	font-size:32px;
	text-align:center;
	margin:5px;
	padding:5px;
	font-family:roboto;
}