.announcement-container {
   width:100%;
   max-height:88vh;
   float:left;
   padding: 10px;
   overflow-y:scroll;
   border: 1px solid #eee;
   border-radius:5px;
   margin:10px;
   background-color: rgba(197, 217, 255, 0.1);;
}
.announcement-header {
	font-size: 20px;
	border-radius: 5px;
	padding: 5px;
	margin: 0px;
	text-align:center;
	margin-bottom: 19px;
}
.announcement-body {
	margin:5px;
	border-radius:5px;
	text-align:center;
}
.announcement-file {
	margin:5px;
	
}
.announcement-item {
	background-color: rgba(177, 177, 177, 0.21);
	box-shadow: 3px 2px 6px 1px black;
	display:grid;
	border-radius:5px;
	margin:15px;
}
.dashboard-image {
	max-height: 20vh;

	margin-bottom: 10px;
}
.dashboard-header {
	color: #172e82;
	font-size:32px;
	text-align:center;
	margin:5px;
	padding:5px;
	font-family:roboto;
}
.dashboard-bar {
	background-color: #172e82;
}