{% extends "dashboard/index.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% block title %}
{{title}}
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/events/style.css" />
{% endblock %}

{% block 'body' %}
<div id="react"></div>
    <script>
        window.react_mount = document.getElementById('react');
    </script>

    <!-- Render each template with a path to the component script -->
    {% render_bundle 'events' %}
    <!-- <script src="/static/bundles/{{component}}"></script>
 -->{% endblock %}
