.scroll-container {
   width:100%;
   max-height:80vh;
   float:left;
   padding: 10px;
   overflow-y:scroll;
   border: 1px solid #eee;
   background-color: rgba(197, 217, 255, 0.1);;
   border-radius:5px;
   }

.scroll-container-header {
	font-size: 20px;
}