<h1>Colonial Room Reservations</h1>

<p>Hi. This is where you can reserve rooms in Colonial.</p>

<p>This section is still under construction but basic functionality exists. <br>
Let Nick (nyang@) know if anything is broken... <br>
You can go to the following links: </p>

<a href="/reservations/request">Reserve a Room</a><br>
View a reservation:                 /reservations/view/(id#) <br>
View reservations in a given month: /reservations/(yyyy)/(mm) <br>
View reservations in a given day:   /reservations/(yyyy)/(mm)/(dd)

<p>Note that only months/days with reservations have links - if for example 2016/04/20 has no reservations then /reservations/2016/04/20 returns 404 [for now!]

<p>And of course feel free to poke around the <a href = "/admin">admin site</a>.

<p>See /colonialsite/reservations/readme - reservations for more complete documentation