{% extends "dashboard/index.html" %}
{% load staticfiles %}

   

{% block 'body' %}
<div class="container-fluid">
    <div class="row">
        <h3 class="text-center">Colonial Room Reservations</h4>
    </div>
    <p>Hi. This is where you can reserve rooms in Colonial.</p>

    <p>This section is still under construction but most functionality exists. <br>
    Let Nick (nyang@) know if anything is broken... <br>
    You can go to the following links: </p>

    <a href="/reservations/request">Reserve a Room</a><br>

    <p>It is currently {{ date }}<br>

    <a href = "/reservations/{{ date.year }}/{{ date.month }}">View reservations from this month.</a><br>
    <a href = "/reservations/{{ date.year }}/{{ date.month }}/{{ date.day }}">View reservations from today.</a>
    </p>

    <p>Feel free to poke around the <a href = "/admin">admin site</a>.

    <p>See /colonialsite/reservations/readme - reservations for more complete documentation</p>
</div>
{% endblock %}
