<h1>Colonial Room Reservations</h1>

<p>Hi. This is where you can reserve rooms in Colonial.</p>

<p>This section is still under construction but most functionality exists. <br>
Let Nick (nyang@) know if anything is broken... <br>
You can go to the following links: </p>

<a href="/reservations/request">Reserve a Room</a><br>
View a reservation:                 /reservations/view/(id#) <br>
View reservations in a given month: /reservations/(yyyy)/(mm) <br>
View reservations in a given day:   /reservations/(yyyy)/(mm)/(dd)

<p>It is currently {{ date }}.<br>
<a href = "/reservations/{{ date.year }}/{{ date.month }}">View reservations from this month.</a><br>
<a href = "/reservations/{{ date.year }}/{{ date.month }}/{{ date.day }}">View reservations from today.</a>
</p>

<p>Feel free to poke around the <a href = "/admin">admin site</a>.

<p>See /colonialsite/reservations/readme - reservations for more complete documentation