<h1>{{ day }}</h1>

<ul>
    {% for reservation in object_list %}
        <a href = /reservations/view/{{ reservation.id }}><li>{{ reservation.room }}: {{ reservation.start_date|time }} - {{ reservation.end_date|time }}</a><br>
    {% endfor %}
</ul>

<p>
    {% if previous_day %}
        <a href = /reservations/{{ previous_day.year }}/{{ previous_day.month }}/{{ previous_day.day }}>Previous Day: {{ previous_day }}</a>
    {% endif %}
<br>
    {% if next_day %}
        <a href = /reservations/{{ next_day.year }}/{{ next_day.month }}/{{ next_day.day }}>Next Day: {{ next_day }}</a>
    {% endif %}
</p>